# System artifacts
.DS_Store
.idea/
.vscode/
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
env/
.env
.ipynb_checkpoints/

# Large Data & Models
src/__pycache__/
notebooks/
# Documentation builds (if any)
docs/_build/

# Streamlit config (if contains secrets)
.streamlit/secrets.toml

#pdf documents
NLP-Project-Idea.pdf
nlp-project.rtf
PROJECT_PLAN.md

# error-logs
log1.txt
log2.txt
log3.txt