# Core
pandas>=2.0
numpy>=1.24

# NLP
gensim>=4.3.3
spacy>=3.8.0
nltk>=3.8
sentence-transformers>=2.2

# Machine Learning
scikit-learn>=1.3

# Visualization & Storytelling
altair>=5.0
pynarrative
ipyvizzu-story>=0.9

# Web App
streamlit>=1.30

# Utilities
regex>=2023.0

# Deployment
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
